.chat-container {
    width: 100%;
    height: 100%;
}

.chat-list-container {
    position: absolute;
    left: 0;
    background-color: black;
    width: 15%;
    height: 100%;
    padding: 20px 5px;
}

.chat-list-box {
    position: relative;
    height: 100%;
    width: 100%;
}

.chat-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.counselor-container {
    width: 100%;
    height: 50px;
    padding: 2px 8px;
}

.counselor-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 0px;
}

.active {
    background-color: #000; /* 활성화 상태일 때의 배경 색상 */
    color: #fff; /* 활성화 상태일 때의 텍스트 색상 */
}

.counselor-img-box {
    height: 2.5rem;
    width: 2.5rem;
    padding: 3px;
}

.counselor-img {
    height: 100%;
    width: 100%;
    border-radius: 99999px;
    background-color: yellow;
}

.counselor-name {
    height: 100%;
    width: 68%;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: white;
}

.counselor-link-box {
    height: 100%;
    width: 10%;
}

.counselor-link-img {
    width: 100%;
}

.chat-account-container {
    width: 100%;
    height: auto;
    padding: 2px 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.logout {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0px;
    opacity: 1;
}

.logout-hide {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.logout-show {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.logout svg {
    margin-right: 10px;
}

.chat-account {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-account-svg {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 10px;
    align-self: center;
}

.chat-room-container {
    position: absolute;
    right: 0;
    background-color: rgb(18, 38, 18);
    width: 85%;
    height: 100%;
}


.chat-room-info {
    width: 100%;
    height: 7%;
}
.chat-room-box {
    width: 100%;
    height: 84%;
    padding: 0 25% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.chat-dialog-box {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.chat-counselor-box {
    height: auto;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}


.counselor-icon-box {
    height: 2.5rem;
    width: 2.5rem;
    background-color: gray;
    margin-right: 0.5rem;
}

.counselor-text-box {
    height: auto;
    width: auto;
    max-width: 75%;
    padding: 8px;
    background-color: blue;
    border-radius: 10px;
}

.chat-user-box{
    height: auto;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-icon-box {
    height: 2.5rem;
    width: 2.5rem;
    background-color: blueviolet;
    margin-left: 0.5rem;
}

.user-text-box {
    height: auto;
    width: auto;
    max-width: 75%;
    padding: 8px;
    background-color: brown;
    border-radius: 10px;
}

.chat-room-box-divider {
    width: 100%;
    height: 1px;
}

.chat-textarea-container{
    width: 100%;
    height: auto;
    padding: 0 25% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat-textarea-box {
    width: 100%;
    height: 6%;
    border: 1px rgb(210, 210, 210) solid;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-textarea-input {
    width: 95%;
    height: 100%;
}

.chat-textarea-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

.chat-enter {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-room-box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .chat-room-box::-webkit-scrollbar {
    width: 6px;
  }
  
  .chat-room-box::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .chat-room-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
  }
  
  .chat-room-box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }